@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.snackbar-error {
  background-color: #c62828;
  color: #fff;
}

.mat-mdc-dialog-actions {
  justify-content: flex-end;
}

.mat-icon {
  font-family: 'Material Icons' !important;
}

